<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- icon -->
<link rel="icon" type="image/png" href="/img/logo.png"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img3">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>Sign In!</h1>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Login Section begin-->
<div class="exception" th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
    <h2 th:text="${errorMsg.getMessage()}"></h2>
</div>
<div class="register-form">
    <form method="post" th:action="@{/login}">
        <div>
            <h3>Username: </h3>
            <input type="text" name="username">
        </div>
        <div>
            <h3>Password: </h3>
            <input type="password" name="password">
        </div>
        <button>Sign in</button>
    </form>
</div>
<!-- Login Section end-->

<!-- Footer section begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->

</body>
</html>