<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img4">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>Sign Up!</h1>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Register Section begin-->
<div class="exception" th:if="${wrongData != null}">
    <h2 th:text="${wrongData}"></h2>
</div>
<div class="register-form">
    <form method="post" th:action="@{/register}">
        <div>
            <h3>Username: </h3>
            <input type="text" name="username">
        </div>
        <div>
            <h3>Email: </h3>
            <input type="email" name="email">
        </div>
        <div>
            <h3>Password: </h3>
            <input type="password" name="password">
        </div>
        <button>Sign Up</button>
    </form>
</div>
<!-- Register Section end-->

<!-- Footer section begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->

</body>

</html>