<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- icon -->
<link rel="icon" type="image/png" href="/img/logo.png"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img4">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Register Success begin-->
<div class="register-form">
        <h3>You have been successfully registered! You can now log in by clicking button below.</h3>

    <button><a href="/login">Login</a></button>
</div>
<!-- Register Success end-->

<!-- Footer section begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->

</body>

</html>