<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- icon -->
<link rel="icon" type="image/png" href="/img/logo.png"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img3">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>User panel</h1>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- User Page Section begin-->
<section class="user-menu">
    <div class="user-menu-box">
        <a th:href="@{/likedMeals}">Liked meals</a>
        <a th:href="@{/savedDailyDiets}">Your daily diets</a>
    </div>
</section>
<!-- User page Section end-->

<!-- Footer section begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->

</body>
</html>