<html>
<body>
<div class="footer-nav">
    <div class="footer-nav-links">
        <a href="https://www.linkedin.com/in/krystian--kazmierczak/" target="_blank">LINKEDIN</a>
        <a href="https://github.com/KrystianKaz">GITHUB</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">YOUTUBE</a>
        <a href="mailto:krystian.kazmierczak91@gmail.com" target="_blank">E-MAIL</a>
    </div>
</div>
<div class="footer-author">
    <h4>2023 | KRYSTIAN KAŹMIERCZAK | &#9990; +48 534 752 881</h4>
</div>
</body>
</html>