<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kkRecipes</title>
    <meta name="Generate Your Meal Plan And Find Food Inspiration!" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
    <a th:href="@{/}"><img class="logo" src="/img/logo.png" alt="kkRecipes Logo"></a>
    <nav>
        <ul class="navigation_links">
            <li><a th:href="@{/search}">Complex Search</a></li>
            <li><a th:href="@{/findByNutrients}">Search By Nutrition</a></li>
            <li><a th:href="@{/generateDailyMealPlan}">Genereate Daily Meal Plan</a></li>
            <li><a th:href="@{/generateWeeklyMealPlan}">Generate Weekly Meal Plan</a></li>
        </ul>
    </nav>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="/user">
            <button>User panel</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
</header>
</body>