<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- icon -->
<link rel="icon" type="image/png" href="/img/logo.png"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<section class="hero">
    <div class="hero-img">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>Favourite meals</h1>
                <p>
                    Place to hold your recipe book!
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Daily Diets Section begin -->
<section class="meals">
    <form method="get" th:action="@{/savedDailyDiets}">
        <div class="meals">
            <h2>Your saved daily diet plans:</h2>
            <div class="diets-filtering">
                <select name="size">
                    <option th:selected="${size == 3}" value="3">3</option>
                    <option th:selected="${size == 6}" value="6">6</option>
                </select>
                <select name="isCompleted">
                    <option th:selected="${isCompleted == false}" value="false">Not Completed</option>
                    <option th:selected="${isCompleted == true}" value="true">Completed</option>
                </select>
                <select name="reverseOrder">
                    <option th:selected="${reverseOrder == false}" value="false">From Oldest</option>
                    <option th:selected="${reverseOrder == true}" value="true">From Newest</option>
                </select>
                <input type="submit" value="Sort">
            </div>
        </div>
    </form>

    <div class="diets-pagination" th:unless="${totalPages == 0}">
        <div class="diets-pagination-numbers" th:if="${pageNumber > 0}">
            <a th:href="@{${'/savedDailyDiets'}(size=${size}, isCompleted=${isCompleted}, reverseOrder=${reverseOrder}, page=${pageNumber - 1})}"
               th:text="'<'"></a>
        </div>
        <div class="diets-pagination-numbers" th:each="pages : ${#numbers.sequence(0, totalPages-1)}">
            <div class="diets-pagination-numbers" th:if="${pageNumber == pages}">
                <a class="active"
                   th:href="@{${'/savedDailyDiets'}(size=${size}, isCompleted=${isCompleted}, reverseOrder=${reverseOrder}, page=${pages})}"
                   th:text="${pages + 1}"></a>
            </div>
            <div class="diets-pagination-numbers" th:unless="${pageNumber == pages}">
                <a th:href="@{${'/savedDailyDiets'}(size=${size}, isCompleted=${isCompleted}, reverseOrder=${reverseOrder}, page=${pages})}"
                   th:text="${pages + 1}"></a>
            </div>
        </div>
        <div class="diets-pagination-numbers" th:if="${pageNumber < totalPages - 1}">
            <a th:href="@{${'/savedDailyDiets'}(size=${size}, isCompleted=${isCompleted}, reverseOrder=${reverseOrder}, page=${pageNumber + 1})}"
               th:text="'>'"></a>
        </div>
    </div>

    <div th:each="diet : ${savedDiets}">
        <div class="meals-list">
            <h3 class="title" th:text="${diet.date}"></h3>
            <div class="meals-nutrition">
                <h3 th:text="${diet.description}"></h3>
                <div class="meals-nutrition-list">
                    <h4 th:text="'Kcal: ' + ${diet.calories}"></h4>
                    <h4 th:text="'Fat: ' + ${diet.fat}"></h4>
                    <h4 th:text="'Carbs: ' + ${diet.carbohydrates}"></h4>
                    <h4 th:text="'Proteins: ' + ${diet.protein}"></h4>
                </div>
                <a th:href="@{/recipes/{id}(id=${diet.firstMealId})}" target="_blank"><img
                        th:src="'https://spoonacular.com/recipeImages/' + ${diet.firstMealId} + '-312x231.jpg'"></a>
                <a th:href="@{/recipes/{id}(id=${diet.secondMealId})}" target="_blank"><img
                        th:src="'https://spoonacular.com/recipeImages/' + ${diet.secondMealId} + '-312x231.jpg'"></a>
                <a th:href="@{/recipes/{id}(id=${diet.thirdMealId})}" target="_blank"><img
                        th:src="'https://spoonacular.com/recipeImages/' + ${diet.thirdMealId} + '-312x231.jpg'"></a>
            </div>
            <div th:unless="${diet.completed}">
                <form method="post" th:action="@{/changeCompletionStatus/{id}(id=${diet.id})}">
                    <div class="daily-diets">
                        <button>&#10004;</button>
                    </div>
                </form>
                <form method="post" th:action="@{/deleteDailyDiet/{id}(id=${diet.id})}">
                    <div class="daily-diets">
                        <button class="button-delete">&#x2715;</button>
                    </div>
                </form>
            </div>
            <div th:if="${diet.completed}">
                <form method="post" th:action="@{/changeCompletionStatus/{id}(id=${diet.id})}">
                    <div class="daily-diets">
                        <button class="button-revert">&#8630;</button>
                    </div>
                </form>
                <form method="post" th:action="@{/deleteDailyDiet/{id}(id=${diet.id})}">
                    <div class="daily-diets">
                        <button class="button-delete">&#x2715;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Daily Diets Section end -->

<!-- Footer section begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->
</body>

</html>