<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- icon -->
<link rel="icon" type="image/png" href="/img/logo.png"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<body>

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>kkRecipes</h1>
                <p>
                    Search for meal inspiration and plan your daily or weekly diet!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- About me section begin -->
<section class="search">
    <div class="search-complex">
        <h3>Hi! I 'm Krystian.
        </h3>
        <p>Welcome to my website. If you're looking for new meal ideas or need guidance in planning
            your diet, then my website is for you! Do you prefer Asian cuisine? Are you on a ketogenic diet? Counting
            calories? Or maybe you're interested in gluten-free meals? You've come to the right place! On this website,
            you can find recipes from around the world based on your preferences or dietary habits.
        </p>
        <p>
            You can use this website as an unregistered user, but to fully experience its functionality, create your own
            account.
        </p>
        <p>
            This project is my second endeavor where I practice, develop, and solidify my knowledge as a Java
            programmer, with the goal of becoming a Java developer in the future.
        </p>
        <p>
            I wish you a pleasant experience using this website, and if you'd like to contact me, don't hesitate to do
            so. My contact information is included in the website's footer.
        </p>
    </div>
</section>
<!-- About me section end -->

<!-- Footer section - begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->

</body>
</html>