<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css"/>

<!-- Header section - Menu toolbar -->
<div th:insert="~{dynamic/navigationMain.html}"></div>
<!-- Header section - Menu toolbar -->

<!-- Hero Section begin -->
<section class="hero">
    <div class="hero-img">
        <div class="hero-wrapper">
            <div class="hero-wrapper-text">
                <h1>Complex Search</h1>
                <p>
                    Find food that you will be inspired in!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Footer section - begin -->
<section class="footer">
    <div th:insert="~{dynamic/footer.html}"></div>
</section>
<!-- Footer section - end -->
</html>