<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>kkRecipes</head>
<body>
<h1>My recipes</h1>
</body>
<main>
    <section id="meals">
        <h1 class="h1-list">Matching meal:</h1>
        <div class="container list">
            <div class="box-for-list">
                <h3 th:each="preps : ${prep}"></h3>
                <h4 th:text="${prep}"></h4>
<!--                <h4 th:text="${preps.name}"></h4>-->
<!--                <h4 th:text="'Preparation time: ' + ${mealById.readyInMinutes} + ' minutes'"></h4>-->
<!--                <h4 th:text="'Servings: ' + ${mealById.servings}"></h4>-->
<!--                <h4 th:remove="tag" th:utext="${mealById.summary}"></h4><br>-->
<!--                <a th:href="${mealById.sourceUrl}"> <img th:src="${mealById.image}" alt="Preview unavailable"></a><br>-->
<!--                <h4 th:remove="tag" th:utext="${mealById.instructions}"></h4><br>-->
            </div>
        </div>
    </section>
</main>
</html>