<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>kkRecipes</head>
<body>
<h1>My recipes</h1>
</body>
<main>
    <div th:each="nuts : ${nutrients}">
        <h2 class="title" th:text="${nuts.title}"></h2>
        <h3>Nutritions (Per Serving):</h3>
        <h4 th:text="'Calories: ' + ${nuts.calories}"></h4>
        <h4 th:text="'Fat: ' + ${nuts.fat}"></h4>
        <h4 th:text="'Carbs: ' + ${nuts.carbs}"></h4>
        <h4 th:text="'Proteins: ' + ${nuts.protein}"></h4>
        <img th:src="${nuts.image}" alt="Preview unavailable">
        <a class="btn btn-for-list" th:href="@{/recipes/{id}(id=${nuts.id})}" target="_blank">Get Recipe</a>
        <h5>________________________</h5>
    </div>
</main>
</html>